<header (scroll)="imprimir($event)" >
    <app-whats-icon></app-whats-icon>
    <div class="gradient">
        <div class="container w-75 d-flex justify-content-center align-items-center text-dark flex-column">
            <div class="content">
                <h1 class="text-dark w-100 text-center display-4">Kudiska</h1>
                <div class="logo d-flex justify-content-center">
                    <img src="../../../assets/kudiska.png" class="w-50">
                </div>
                <h2 class="text-dark w-100 text-center display-6 pt-3">Una herramienta de diseño de Interfaces</h2>
                <h5 class="text-dark w-100 text-center text-muted pt-1"> Comienza a materializar tus ideas con una herramienta profesional</h5>
                <a href="#" class="mt-4" style="margin: 1.5rem 0px !important;">
                    <div class="btn btn-primary">
                        Comienza Ya!
                    </div>
                </a>
            </div>
            <div class="down shadow bg-light d-flex my-4x">
                <svg width="100" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 0 1 .708 0L8 12.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M8 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </div>
        </div>
    </div>
</header>