<footer class="text-white text-center text-lg-left pt-3">
  <div class="container w-75">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row flex-column">
        <!--Grid column-->
        <div class="col text-center">
          <h5 class="text-uppercase">Kudiska</h5>
        </div>
        <!--Grid column-->
        <div class="col d-flex justify-content-center">
          <!-- Facebook -->
            <a class="btn text-light" style="background-color: transparent;" href="#!" role="button">
              <i class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn text-light " style="background-color: transparent;" href="#!" role="button">
              <i class="fab fa-twitter"></i>
            </a>
            <!-- Instagram -->
            <a class="btn text-light" style="background-color: transparent;" href="#!" role="button">
              <i class="fab fa-instagram"></i>
            </a>
            <!-- Whatsapp -->
            <a class="btn text-light" style="background-color: transparent;" href="#!" role="button">
              <i class="fab fa-whatsapp"></i>
            </a>
        </div>
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
    <hr style="background: #2d2e33;" >
    <!-- Copyright -->
    <div class="p-3 text-muted text-center">
      © 2020 Copyright
      <a class="text-muted text-uppercase"> Kudiska Corporation </a>
      <br>
      <a class="text-white"> <small>Terminos y Condiciones</small> </a> | <a class="text-white"> <small>Politicas de Privacidad</small> </a>
    </div>
    <!-- Copyright -->
  </div>
  </footer>