<div class="contacto w-100 py-5" id="contacto">
    <div class="sombra" (click)="quit()">
    </div>
    <div class="container w-50 py-5">
        <div class="header">
            <h2 class="text-center px-4">Contactanos</h2>
            <p class="text-center"> Tienes Alguna pregunta que hacer sobre Kudiska? </p>
        </div>
        <div class="content">
            <form >
                <div class="row">
                    <div class="col form-outline mb-4">
                        <label class="form-label" for="firstname"></label>
                        <input type="text" id="firstname" class="form-control" placeholder="Ingresa tu Nombre"/>
                    </div>
                    <div class="col form-outline mb-4">
                        <label class="form-label" for="lastname"></label>
                        <input type="text" id="lastname" class="form-control" placeholder="Ingresa tu Apellido" />
                    </div>
                </div>
                <div class="row">
                    <div class="col form-outline mb-4">
                        <label class="form-label" for="Correo"></label>
                        <input type="text" id="Correo" class="form-control" placeholder="Ingresa tu Correo Electronico"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="mensaje"></label>
                        <textarea class="form-control" id="mensaje" rows="3" placeholder="Ingresa tu mensaje"></textarea>
                    </div>
                </div>
                <div class="sub d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary btn-md w-100" (click)="enviar_correo()">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>