<nav class="navbar navbar-expand-lg navbar-light w-100">
    <div class="container">
        <a class="navbar-brand py-2">Kudiska</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-100" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active " routerLinkActive="active">
                    <a class="nav-link py-2">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2">Caracteristicas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2">Capturas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2">Precio</a>
                </li>
                <li class="nav-item contact" (click)="contacto()">
                    <a class="nav-link py-2" data-ripple-color="dark">Contactanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2 btn btn-outline-primary px-3 ml-2 text-primary" data-ripple-color="dark">Inicio</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link py-2 btn btn-primary px-3 ml-2 shadow text-light" data-ripple-color="dark">Resgistro</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>