<div class="container">
    <div class="header">
        <h2 class="text-center px-4">Crea Diseños increíbles de tus Aplicasiones con una herramientas de diseño profesional</h2>
        <p class="text-center">¡Lleve su contenido al siguiente nivel con <b>Kudiska</b>!</p>
    </div>
    <div class="content">
        <div class="row py-5">
            <div class="col p-3">
                <img src="../../../assets/components.png" class="rounded shadow">
            </div>
            <div class="col d-flex justify-content-center align-items-center flex-column p-5">
                <div class="head p-2">
                    <h4 class="text-center">No se necesitan habilidades de Diseño para poder crear componentes profesionales!</h4>
                </div>
                <div class="content">
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis est quidem rerum illo. Totam sequi repellat accusantium alias recusandae veniam illum nulla dolorum repellendus cupiditate sed quasi minima quos iure eaque non, voluptates mollitia consequatur. </p>
                </div>
            </div>
        </div>
    </div>
</div>