<div class="container w-75">
    <div class="header">
        <h2 class="text-center px-3">Crea Diseños increíbles</h2>
        <p class="text-center">¡Lleve su contenido al siguiente nivel con <b>{{app_name}}</b>!</p>
    </div>
    <div class="content">
        <div class="row py-1 px-2">
            <div class="col p-3 d-flex jutify-content-center">
                <img src="../../../assets/por.svg" class="w-100 rounded">
            </div>
            <div class="col d-flex justify-content-center align-items-center flex-column p-5">
                <div class="head p-2">
                    <h4 class="text-left">¡No se necesitan habilidades de Diseño!, para poder crear componentes profesionales</h4>
                </div>
                <div class="content">
                    <p class="text-left">
                        <span>Te ofrecemos miles de paneles pre configurados para que en unos simples pasos puedas armar tu app, </span>
                        <br>
                        <span>simple busca el que más se adapta al témplate que estas creando suéltalo en el área de creación y eso es todo,</span><br>
                        <span>solo debes seguir los pasos que te damos y podrás tener el diseño o prototipo de esa idea que tanto deseas.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>