<div class="modal-content">
    <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"></span></button>
    </div>
    <div class="modal-body" id="terms"><h1>CONDICIONES DE USO</h1>
<h2>1. Introducción</h2>
<h3>1.1 Contrato</h3>
<p>Cuando utilizas nuestros Servicios aceptas cumplir todos estos términos. Tu uso de nuestros Servicios también está
sujeto a nuestra Política de cookies y a nuestra Política de privacidad, que abarca el modo en que recabamos,
utilizamos, compartimos y almacenamos tu información personal.</p>
<p>Al hacer clic en «REGISTRATE», «INICIAR SESION a {{app_name}}», «REGISTRO RAPIDO» u otro enlace similar, al registrarte,
acceder o utilizar nuestros servicios (descritos a continuación), aceptas suscribir un contrato vinculante desde el
punto de vista jurídico con {{app_name}} (incluso si estás utilizando nuestros Servicios en nombre de una empresa). Si no
estás conforme con este contrato («Contrato» o «Condiciones de uso»), no hagas clic en «Únete ahora» (u otro enlace
similar) y no accedas ni utilices de otro modo nuestros Servicios.</p>
<p>Tu uso de nuestros Servicios está también sujeto a nuestra Política de privacidad y a la Política de cookies.</p>
<p>Estás suscribiendo este Contrato con {{app_name}} (también referido como «nosotros» o «nuestro»). Si resides en la
comunidad Europea o EEUU u otros países, estás formalizando este Contrato con Retail Servicios Externos SL y los
datos personales que nos proporciones o se recopilen en nuestros Servicios serán controlados por Retail Servicios
Externos SL.</p>
<br>
<h3>1.2 Miembros y Visitantes</h3>
<p>Cuando te registras y te unes al Servicio de {{app_name}}, te conviertes en Miembro. Si has decidido no registrarte en
nuestros Servicios, puedes acceder a determinadas funcionalidades como Visitante.</p>
<br>
<h3>1.3 Cambios</h3>
<p>Podemos modificar este Contrato, nuestra Política de privacidad y nuestra Política de cookies de vez en cuando. Si
introducimos algún cambio importante en el Contrato te avisaremos a través de nuestros Servicios, o por otros
medios, para darte la oportunidad de revisar los cambios antes de que se hagan efectivos. Si no estás de acuerdo con
cualquiera de los cambios, puedes cerrar tu cuenta. Tu uso continuado de nuestros Servicios después de publicar o de
enviar un aviso sobre los cambios en estos términos significará que estás de acuerdo con los términos actualizados.
</p>
<br>
<h2>2. Obligaciones</h2>
<h3>2.1. Requisitos para utilizar los Servicios</h3>
<p>Estas son algunas de las cosas a las que te comprometes en este Contrato:Cumples los requisitos para suscribir este
Contrato y tienes al menos la «Edad mínima» establecida.</p>
<p>Los menores de 16 años no pueden usar los Servicios.</p>
<p>Para utilizar los Servicios, aceptas que: (1) tienes al menos la «Edad mínima» (definida a continuación); (2) solo
tendrás una cuenta de {{app_name}}, que deberá estar a tu nombre real; y (3) {{app_name}} no te ha restringido el uso de los
Servicios.</p>
<p>Los Miembros que tenían menos de esta nueva Edad mínima cuando comenzaron a utilizar los Servicios en virtud de unas
Condiciones de uso anteriores podrán continuar utilizándolos, ya que pueden haber alcanzado la nueva Edad mínima
desde entonces o cumplir esa edad en un futuro próximo.</p>
<p>«Edad mínima» significa 16 años. No obstante, si la legislación aplicable exige que debes tener más edad para que
{{app_name}} te proporcione lícitamente los Servicios sin consentimiento de tus padres (incluido el uso de tus datos
personales), entonces la Edad mínima será esa otra edad.</p>
<br>
<h3>2.2 Tu cuenta</h3>
<p>Protegerás tu contraseña. No compartirás tu cuenta con ninguna otra persona y respetarás nuestras normas y la
legislación aplicable.</p>
<p>Los Miembros son los titulares de las cuentas. Acuerdas: (1) intentar escoger una contraseña difícil y segura; (2)
proteger y mantener la confidencialidad de la contraseña; (3) no transferir ninguna parte de tu cuenta (por ejemplo,
los contactos) y (4) cumplir la legislación pertinente y nuestra lista de lo que se debe y no se debe hacer. Eres
responsable de todo lo que suceda en tu cuenta salvo que la cierres o que nos notifiques que se está haciendo un uso
indebido de la misma.</p>
<p>Entre los demás y tú (incluida tu empresa), tu cuenta te pertenece. No obstante, si los Servicios han sido adquiridos
por terceros para que tú los utilices (por ejemplo, una licencia de Recruiter que ha comprado tu empresa), ese
tercero que paga por dichos Servicios tendrá derecho a controlar el acceso y a recibir informes sobre el uso que
realices del Servicio de pago; pero no tendrá derechos sobre tu cuenta personal.</p>
<br>
<h3>2.3. Pago</h3>
<p>Cumplirás tus obligaciones de pago y aceptas que almacenemos tu información de pago. Comprendes que puede haber tasas
e impuestos añadidos a nuestros precios. No garantizamos los reembolsos.</p>
<p>Si adquieres alguno de nuestros Servicios de pago («TARIFA MI {{app_name}}.PYME.EMPRESA O GRAN EMPRESA O AMPLIACION DE
CAPACIDAD»), aceptas abonarnos las tasas y los impuestos aplicables y cumplir los términos adicionales específicos
vinculados a dichos Servicios de pago. El impago de estas tasas puede dar lugar a la finalización de los Servicios
de pago que recibes. También aceptas que:</p>
<ul>
<li>Tu compra puede estar sujeta a comisiones de cambio o a diferencias de precios en función de tu ubicación (por
ejemplo, tasas de cambio).</li>
<li>Podemos almacenar y continuar facturando tu forma de pago (como una tarjeta de crédito), incluso después de
haber caducado, para evitar la interrupción de los Servicios y utilizarla para pagar otros Servicios que puedas
adquirir.</li>
<li>Si adquieres una suscripción, se cargarán de forma automática a tu forma de pago al comienzo de cada periodo de
suscripción las tasas e impuestos aplicables a ese periodo. Para evitar futuros cargos, cancela la suscripción
antes de la fecha de renovación.</li>
<li>Todas tus compras de Servicios están sujetas a la política de reembolso de {{app_name}}.</li>
<li>Podemos calcular los impuestos aplicables en función de la información de facturación que nos proporciones en el
momento de la compra.</li>
</ul>
<p>Puedes obtener una copia de tu factura a través de tu configuración de cuenta en {{app_name}}.</p>
<br>
<h3>2.4. Avisos y mensajes sobre los Servicios</h3>
<p>Aceptas que te enviemos avisos a través de nuestros sitios web, de las aplicaciones y de la información de contacto
que nos proporcionaste. Si la información de contacto que nos proporciones no está actualizada, podrías no recibir
estos avisos importantes.</p>
<p>Aceptas que nos comuniquemos contigo de los siguientes modos: (1) un aviso en el Servicio, o (2) un mensaje enviado a
la información de contacto que nos proporcionaste (por ejemplo, correo electrónico, teléfono móvil, dirección
postal).</p>
<p>Revisa tu configuración para controlar y limitar los mensajes que te enviamos.</p>
<br>
<h3>2.5 Compartir</h3>
<p>Cuando compartas información, otras personas podrán ver, copiar y usar esa información.</p>
<p>Nuestros Servicios permiten enviar mensajes y compartir información de muchos modos, como en tu perfil, en
diapositivas, en enlaces a artículos de noticias, en anuncios de empleo, en mensajes InMail y en blogs. La
información y el contenido que compartes o publicas pueden ser vistos por otros Miembros o Visitantes. Cuando exista
la posibilidad de establecer una configuración, respetaremos las opciones que escojas sobre quién puede ver el
contenido o la información (por ejemplo, el contenido de mensajes enviado a los destinatarios, compartir contenido
solo con los contactos de {{app_name}}, restringir la visibilidad de tu perfil en los motores de búsqueda u optar por no
notificar a los demás miembros que has actualizado tu perfil de {{app_name}}). Para actividades de búsqueda de empleo, la
configuración por defecto es no notificar a tu red de contactos o al público. Así que si solicitas un empleo a
través de nuestros Servicios o si decides indicar que estás interesado en un empleo, nuestra configuración por
defecto es compartirlo solo con el anunciante del empleo.</p>
<p>No estamos obligados a publicar información o contenidos en nuestro Servicio y podremos retirarlos a nuestra entera
discreción, con o sin previo aviso.</p>
<br>
<h2>3. Derechos y limitaciones</h2>
<h3>3.1. Tu licencia respecto a {{app_name}}</h3>
<p>Eres el propietario de todo el contenido, los comentarios y los datos personales que nos proporciones, pero también
nos otorgas una licencia no exclusiva respecto a dicha información.Respetaremos las decisiones que tomes sobre quién
podrá ver tu información y contenido.Te comprometes a suministrarnos únicamente la información y el contenido sobre
los que tengas derecho y a que la información en tu perfil de LinkedIn sea verdadera.</p>
<p>Entre tú y {{app_name}}, eres el propietario del contenido y de la información que proporciones o publiques en los
Servicios, y solo otorgas a {{app_name}} y a nuestras filiales la siguiente licencia no exclusiva: un derecho mundial,
transferible y sujeto a sublicencia para usar, copiar, modificar, distribuir, publicar y tratar la información y los
contenidos que nos proporciones a través de nuestros Servicios sin ningún consentimiento adicional, notificación o
compensación para ti o terceros. Estos derechos se limitan de los siguientes modos:</p>
<ol>
<li>Puedes finalizar esta licencia para un contenido específico borrando dicho contenido de los Servicios, o en
general cerrando tu cuenta, salvo (a) en la medida en que lo hayas compartido con otras personas como parte del
Servicio y estas a su vez lo hayan copiado, vuelto a compartir o almacenado y (b) durante el tiempo razonable
que se tarde en retirarlo de las copias de seguridad y de otros sistemas.</li>
<li>No incluiremos tu contenido en publicidad para productos y servicios de terceros sin tu consentimiento personal
(incluido el contenido patrocinado). No obstante, tenemos derecho, sin indemnizarte a ti o a terceros, a
publicar anuncios cerca de tu contenido e información, y tus acciones sociales en el contenido patrocinado
podrán verse tal y como se describe en la Política de privacidad.</li>
<li>Te pediremos tu consentimiento si queremos otorgar a terceros el derecho a publicar tu información fuera del
Servicio. No obstante, otros Miembros y/o Visitantes podrían acceder y compartir tu contenido e información en
función de tu configuración.</li>
<li>Aunque podemos editar y realizar cambios de formato en tu contenido (como traducirlo, modificar el tamaño, el
diseño o el tipo de archivo, o eliminar metadatos), no modificaremos el significado.</li>
<li>Como eres propietario de tu contenido e información, y solo poseemos derechos no exclusivos respecto a los
mismos, puedes escoger compartirlo con terceros.</li>
</ol>
<p>Aceptas que podemos acceder, almacenar y utilizar cualquier información que facilites de acuerdo con los términos de
la Política de privacidad y de tus elecciones (incluida la configuración).</p>
<p>Al enviar a {{app_name}} sugerencias u otros comentarios sobre nuestros Servicios, aceptas que {{app_name}} utilice y comparta
(aunque no tiene que hacerlo) dichos comentarios para cualquier finalidad sin compensarte.</p>
<p>Aceptas solo proporcionar contenido e información que no infrinja la ley ni los derechos de ninguna persona
(incluidos los derechos de propiedad intelectual). También acuerdas facilitar información verdadera en tu perfil. A
{{app_name}} se le puede exigir por ley retirar determinada información o contenido en ciertos países.</p>
<br>
<h3>3.2. Disponibilidad de los Servicios</h3>
<p>Podemos cambiar, suspender o retirar cualquier Servicio, o cambiar y modificar futuras tarifas a nuestra entera
discreción. En la medida en que lo permita la ley, estos cambios se harán efectivos cuando se te comuniquen.</p>
<p>Podemos cambiar o retirar cualquiera de nuestros Servicios. No podemos garantizar que almacenaremos o que
continuaremos mostrando la información o el contenido que hayas publicado.</p>
<p>{{app_name}} no es un servicio de almacenamiento. Aceptas que no tenemos la obligación de almacenar, conservar o
proporcionarte una copia de cualquier contenido o información que nos facilites tú u otras personas, salvo en la
medida en que se exija por ley y tal y como se señala en nuestra Política de privacidad.</p>
<br>
<h3>3.3. Otros contenidos, sitios web y aplicaciones.</h3>
<p>Tu uso del contenido y de la información de otras personas publicados en nuestros Servicios corre por tu propia
cuenta y riesgo.Terceros podrían ofrecer sus propios productos y servicios a través de {{app_name}}, pero no nos
responsabilizamos de las actividades que realicen esas terceras partes.</p>
<p>Al utilizar los Servicios, podrías encontrar información o contenido inexactos, incompletos, atrasados, engañosos,
ilegales, ofensivos o dañinos. {{app_name}} no revisa por lo general el contenido proporcionado por sus Miembros u otras
personas. Aceptas que no eres responsable del contenido o de la información de otras personas (incluidos otros
Miembros). No siempre podemos evitar dicho uso indebido de nuestros Servicios, y aceptas que no eres responsable de
dicho uso. También reconocemos el riesgo de que tú o de que tu organización seáis asociados por error a contenidos
sobre otras personas cuando permitimos que los contactos y los seguidores sepan que tú o tu organización habéis sido
mencionados en las noticias.</p>
<p>Eres responsable de decidir si quieres acceder o utilizar aplicaciones o sitios web de terceros que poseen un enlace
desde nuestros Servicios. Si permites que una aplicación o sitio web te autentifique o se conecte a tu cuenta de
{{app_name}}, dicha aplicación o sitio web podrá acceder a información en {{app_name}} relacionada contigo y con tus contactos.
Las aplicaciones y sitios web de terceros tienen sus propios términos jurídicos y políticas de privacidad, y podrías
estar otorgando permiso a terceros para que utilicen tu información de forma que nosotros no la usaríamos. Excepto
en los casos limitados en que lo exija la legislación pertinente, {{app_name}} no es responsable de estos otros sitios web
y aplicaciones; utilízalos por tu propia cuenta y riesgo. Consulta nuestra Política de privacidad.</p>
<br>
<h3>3.4 Limitaciones</h3>
<p>Tenemos derecho a limitar el modo en que te conectas e interactúas con nuestros Servicios.</p>
<p>{{app_name}} se reserva el derecho a limitar tu uso de los Servicios, incluidos tu número de contactos y tu capacidad para
contactar con otros Miembros. {{app_name}} se reserva el derecho de restringir, suspender o cerrar tu cuenta si considera
que puedes haber incumplido este Contrato, la ley o que estás utilizando incorrectamente los Servicios (por ejemplo,
has infringido la lista de lo que se debe y no se debe hacer).</p>
<br>
<h3>3.5 Derechos de propiedad intelectual</h3>
<p>A continuación te proporcionamos información sobre nuestros derechos de propiedad intelectual.</p>
<p>{{app_name}} se reserva todos sus derechos de propiedad intelectual en los Servicios. La utilización de los Servicios no te
confiere la propiedad de los mismos ni del contenido o de la información que se muestra a través de los mismos. Las
marcas y los logotipos utilizados en relación con los Servicios son las marcas comerciales de sus respectivos
propietarios. {{app_name}} , ETN SERVICIOS y los logotipos «in» y otras marcas de {{app_name}} , las marcas de servicio, los
gráficos y los logotipos utilizados para nuestros Servicios son marcas registradas de {{app_name}}.</p>
<br>
<h2>4. Exclusión y limitación de responsabilidad</h2>
<h3>4.1 Exclusión de garantía</h3>
<p>Renunciamos a cualquier responsabilidad jurídica derivada de la calidad, seguridad o fiabilidad de nuestros
Servicios.</p>
<p>EN LA MEDIDA EN QUE LO PERMITA LA LEY, {{app_name}} Y SUS AFILIADOS (Y QUIENES TRABAJAN CON {{app_name}} PARA PROPORCIONAR LOS
SERVICIOS) (A) NO SE HACEN RESPONSABLES DE NINGUNA GARANTÍA IMPLÍCITA O REPRESENTACIÓN (COMO GARANTÍAS DE
COMERCIALIZACIÓN, ADECUACIÓN PARA UN FIN PARTICULAR, EXACTITUD DE LOS DATOS Y DE NO INFRACCIÓN); (B) NO GARANTIZAN
QUE LOS SERVICIOS PODRÁN UTILIZARSE SIN INTERRUPCIONES O SIN ERRORES DE FUNCIONAMIENTO, Y (C) PROPORCIONARÁN EL
SERVICIO (INCLUIDO EL CONTENIDO Y LA INFORMACIÓN) TAL Y COMO ESTÉ DISPONIBLE.</p>
<p>ALGUNAS LEYES NO PERMITEN DETERMINADAS EXCLUSIONES DE RESPONSABILIDAD, POR LO QUE ALGUNAS O TODAS ESTAS EXCLUSIONES
PODRÍAN NO APLICARSE EN TU CASO.</p>
<br>
<h3>4.2 Exclusión de responsabilidad</h3>
<p>Estas son las limitaciones de responsabilidad jurídica que podemos tener en relación contigo.</p>
<p>EN LA MEDIDA EN QUE LO PERMITA LA LEY (Y SALVO QUE {{app_name}} HAYA SUSCRITO UN CONTRATO ESCRITO INDEPENDIENTE QUE
REEMPLACE ESTE CONTRATO), {{app_name}} Y SUS AFILIADOS (Y QUIENES TRABAJAN CON {{app_name}} PARA PROPORCIONAR LOS SERVICIOS) NO
SE HARÁN RESPONSABLES DE NINGÚN DAÑO INDIRECTO, INHERENTE, ESPECIAL, CONSECUENTE O PUNITIVO, O POR LA PÉRDIDA DE
DATOS, DE OPORTUNIDADES, DE REPUTACIÓN O DE BENEFICIOS O INGRESOS RELACIONADOS CON LOS SERVICIOS (COMO DECLARACIONES
OFENSIVAS O DIFAMATORIAS, TIEMPO PERDIDO, USO O CAMBIOS EN TU INFORMACIÓN O CONTENIDO).</p>
<p>LA RESPONSABILIDAD DE {{app_name}} Y SUS AFILIADOS (Y DE QUIENES TRABAJAN CON {{app_name}} PARA PROPORCIONAR LOS SERVICIOS) NO
SUPERARÁ EN NINGÚN CASO, UNA VEZ SUMADAS TODAS LAS REIVINDICACIONES, LA CANTIDAD QUE SEA INFERIOR DE (A) CINCO VECES
LA CUOTA MENSUAL O ANUAL MÁS RECIENTE QUE HAYAS PAGADO POR UN TIPO DE TARIFA, SI CORRESPONDE.</p>
<p>ESTA LIMITACIÓN DE RESPONSABILIDAD FORMA PARTE DEL ACUERDO ENTRE TÚ Y {{app_name}}, Y SE APLICARÁ A TODAS LAS RECLAMACIONES
DE RESPONSABILIDAD (COMO GARANTÍA, DAÑO, NEGLIGENCIA, CONTRATO, LEY), INCLUSO AUNQUE SE HAYA COMUNICADO A {{app_name}} Y A
SUS AFILIADOS ESTE DAÑO, E INCLUSO AUNQUE ESTAS SOLUCIONES NO SUBSANEN SU FINALIDAD ESENCIAL.</p>
<p>ALGUNAS LEYES NO PERMITEN LA LIMITACIÓN O EXCLUSIÓN DE RESPONSABILIDAD, POR LO QUE ESTAS LIMITACIONES PODRÍAN NO
APLICARSE EN TU CASO.</p>
<br>
<h2>5. Rescisión</h2>
<p>Podemos rescindir este Contrato en cualquier momento.</p>
<p>Tanto tú como {{app_name}} podréis dar por concluido este Contrato en cualquier momento tras comunicarlo a la otra parte.
Una vez rescindido, perderás el derecho a acceder y utilizar los Servicios. Lo siguiente continuará aplicándose tras
la rescisión:</p>
<ul>
<li>Nuestro derecho a utilizar y divulgar tus comentarios.</li>
<li>El derecho de los Miembros y de los Visitantes a volver a compartir contenido e información que compartiste a
través del Servicio siempre que fueran copiados o vueltos a compartir antes de la rescisión.</li>
<li>Las cláusulas 4, 6 y 7 de este Contrato.</li>
<li>Cualquier importe debido por cualquiera de las partes antes de la rescisión continuará debiéndose después de la
misma.</li>
</ul>
<p>Puedes visitar nuestro Centro de ayuda para cerrar tu cuenta.
<br>
</p><h2>6. Resolución de conflictos</h2>
<p>En el caso improbable de que se produjera una disputa legal, acordamos someternos a los tribunales de España.</p>
<br>
<h2>7. Disposiciones generales</h2>
<p>A continuación se describen algunos detalles importantes sobre cómo leer el Contrato.</p>
<p>Si un tribunal con autoridad sobre este Contrato encuentra que no puede aplicarse alguna parte del mismo, tú y
nosotros aceptamos que el tribunal modifique los términos para que esa parte sí pueda aplicarse y siga logrando
su finalidad. Si el tribunal no pudiera conseguirlo, tú y nosotros acordamos pedir al tribunal que elimine esa
parte que no puede aplicarse y que mantenga el resto del Contrato. En la medida en que lo permita la ley, la
versión en inglés de este Contrato es vinculante, mientras que las traducciones se ofrecen por motivos de
comodidad únicamente. Este Contrato (incluidos los términos adicionales que establezcamos cuando interacciones
con una funcionalidad de los Servicios) es el único acuerdo entre nosotros sobre los Servicios y reemplaza todos
los acuerdos anteriores sobre los Servicios.</p>
<p>Si no actuamos en caso de incumplimiento de este Contrato, ello no significa que {{app_name}} haya renunciado a su
derecho a hacer valer el Contrato. No puedes ceder o transferir este Contrato (o tu cuenta o uso de los
Servicios) a nadie sin nuestro consentimiento. No obstante, aceptas que {{app_name}} ceda este Contrato a sus filiales
o a una tercera parte que lo compre sin tu consentimiento. No existen otros terceros beneficiarios del Contrato.
</p>
<p>Nos reservamos el derecho de cambiar los términos de este Contrato y te avisaremos si lo hacemos; aceptamos que
los cambios no podrán ser retroactivos. Si no estás de acuerdo con estos cambios, deberás dejar de utilizar los
Servicios.</p>
<p>Aceptas que el único modo de enviarnos una notificación legal será en la dirección proporcionada en la cláusula
10.</p>
<br>
<h2>8. Lo que se debe y no se debe hacer en {{app_name}}</h2>
<h3>8.1. Lo que se debe hacer</h3>
<p>Aceptas que vas a:</p>
<ol>
<li>Cumplir todas las leyes pertinentes, incluidas, entre otras, las leyes de privacidad, las leyes de propiedad
intelectual, las leyes antispam, las leyes de control de las exportaciones, las leyes en materia fiscal y
tributaria, y otros requisitos regulatorios.</li>
<li>Proporcionarnos información exacta y mantenerla actualizada.</li>
<li>Usar tu nombre verdadero en el perfil.</li>
<li>Usar los Servicios de una manera profesional.</li>
</ol>
<br>
<h3>8.2. Lo que no se debe hacer</h3>
<p>Aceptas que no vas a:</p>
<ol>
<li>Actuar de manera ilegal o poco profesional en relación con nuestros Servicios, incluidas las actitudes
deshonestas, abusivas o discriminatorias.</li>
<li>Publicar contenido inexacto, obsceno difamatorio, impactante, que incite al odio, amenazador o de otro modo
inapropiado o que derive en quejas o disputas personales.</li>
<li>Usar una imagen o una foto de cara que no se parezca a ti en el perfil.</li>
<li>Crear una identidad falsa en {{app_name}}. La creación ocasional de perfiles claramente ficticios por parte de
{{app_name}} o con su permiso expreso en relación con una campaña promocional no exonera de esta obligación.</li>
<li>Representar de manera falsa tu identidad (por ejemplo, utilizar un pseudónimo), tus puestos de trabajo
actuales o anteriores, tus calificaciones o vínculos con una persona o entidad.</li>
<li>Crear un perfil de Miembro para alguien que no seas tú (una persona física).</li>
<li>Invitar a personas que no conoces para que se unan a tu red.</li>
<li>Usar o intentar usar la cuenta de otra persona.</li>
<li>Acosar, abusar o hacer daño a otra persona.</li>
<li>Enviar o publicar publicidad no solicitada o no autorizada, «correo basura», «spam», «cartas en cadena»,
«estafas piramidales» o cualquier otra forma de publicidad no autorizada por {{app_name}} .</li>
<li>Desarrollar, apoyar o utilizar programas, dispositivos, guiones, robots o cualquier otro medio o proceso
(incluidos crawlers, plugins de navegación y complementos, o cualquier otra tecnología o programas manuales)
para plagiar (scrape) los Servicios o copiar de otro modo perfiles u otros datos de los Servicios.</li>
<li>Evitar o sortear cualquier control de acceso o los límites en el uso de los Servicios (como límites en las
búsquedas de palabras clave).</li>
<li>Copiar, utilizar, divulgar o distribuir cualquier información obtenida de los Servicios, ya sea de forma
directa o a través de terceros (como los motores de búsqueda), sin el consentimiento de {{app_name}}.</li>
<li>Solicitar direcciones de correo electrónico u otra información personal de miembros que no conoces, sin su
autorización.</li>
<li>Utilizar, revelar o distribuir cualquier dato obtenido infringiendo esta política.</li>
<li>Revelar información que no tienes derecho a revelar (como información confidencial de otras personas,
incluida tu empresa).</li>
<li>Infringir los derechos de propiedad intelectual de otras personas como derechos de autor, patentes, marcas,
secretos comerciales u otros derechos de propiedad. Por ejemplo, no copies ni distribuyas (salvo a través de
la funcionalidad de compartir disponible) las publicaciones u otros contenidos de otras personas sin su
permiso, el cual se puede otorgar publicando a través de una licencia.</li>
<li>Infringir la propiedad intelectual u otros derechos de {{app_name}}, incluido, sin limitación, (i) copiar o
distribuir nuestros vídeos de aprendizaje u otros materiales; o (ii) copiar o distribuir nuestra tecnología,
salvo que se ponga en circulación con licencias de código abierto; (iii) utilizar el término «{{app_name}}» o
nuestros logotipos en cualquier nombre comercial, correo electrónico o URL excepto en los casos descritos en
las Directrices de marca.</li>
<li>Utilizar las invitaciones de {{app_name}} para enviar mensajes a personas que no te conocen o que es poco probable
que te reconozcan como un contacto conocido.</li>
<li>Publicar cualquier cosa que contenga virus de programas, gusanos o cualquier otro código dañino.</li>
<li>Manipular los identificadores para ocultar el origen de cualquier mensaje o publicación transmitidos a
través de los Servicios.</li>
<li>Crear perfiles o proporcionar contenidos que promuevan los servicios de compañía o de prostitución.</li>
<li>Crear u operar un esquema piramidal, fraude u otra práctica similar.</li>
<li>Utilizar técnicas de ingeniería inversa, descompilar, desarmar, descifrar o de otro modo tratar de obtener
el código fuente de los Servicios o de cualquier tecnología relacionada que no sea de código abierto.</li>
<li>Dar a entender o declarar que estás asociado o avalado por {{app_name}} sin nuestro consentimiento expreso (por
ejemplo, presentarte como formador acreditado de {{app_name}} ).</li>
<li>Alquilar, arrendar, prestar, hacer negocios, vender o revender el acceso a los Servicios o a datos
relacionados.</li>
<li>Vender, patrocinar u obtener de otro modo un beneficio económico de cualquier Servicio sin el consentimiento
de {{app_name}}.</li>
<li>Establecer enlaces a nuestros Servicios para cualquier otra finalidad que la de promover tu perfil o un
grupo en nuestros Servicios, sin el consentimiento de {{app_name}}.</li>
<li>Retirar avisos de derechos de autor, de marcas registradas o de otros derechos de propiedad contenidos en
nuestro Servicio.</li>
<li>Retirar, cubrir u ocultar cualquier publicidad incluida en los Servicios.</li>
<li>Utilizar bots u otros métodos automatizados para acceder a los Servicios, para añadir o descargar contactos
o para enviar o redirigir mensajes.</li>
<li>Controlar la disponibilidad, el rendimiento o el funcionamiento de los Servicios con fines competitivos.
</li>
<li>Realizar «framing» o «mirroring» o simular de otro modo la apariencia o función de los Servicios.</li>
<li>Superponer o modificar de otro modo los Servicios o su apariencia.</li>
<li>Acceder a los Servicios salvo a través de las interfaces expresamente proporcionadas por {{app_name}}, como sus
aplicaciones móviles, <a href="https://mi.{{app_name}}.com">https://mi.{{app_name}}.com</a></li>
<li>Utilizar un Servicio para tareas diferentes de las previstas.</li>
<li>Anular cualquier funcionalidad de seguridad de los Servicios.</li>
<li>Interferir en el funcionamiento o cargar los Servicios de manera poco razonable (por ejemplo, spam, ataque
mediante denegación de servicio, virus, algoritmos de juego).</li>
<li>Infringir las Pautas comunitarias profesionales o cualquier otro término adicional relativo a un Servicio
específico cuando inicias sesión o comienzas a utilizar dicho Servicio.</li>
</ol></div>
</div>