<div class="app">
    <div class="my-login-page">

        <section class="">
            <div class="container">
                <div class="row justify-content-md-center" style="height: 100vh;justify-content: center;align-items: center;">
                    <div class="card-wrapper w-50">
                        <div class="card fat">
                                <div class="card-body d-flex flex-column">
                                    <!-- <img src="../../../../assets/kudiska.png" class="w-50 m-auto"> -->
                                    <h4 class="card-title text-center pt-4">Crear una Cuenta en <b>Lanza App</b></h4>
                                    <hr>
                                    <form [formGroup]="forma" class="my-login-validation" (ngSubmit)="register_user()">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <div class="form-outline">
                                                    <label class="form-label w-100" for="firstname">
                                                        Nombre
                                                        <input 
                                                        type="text" 
                                                        id="firstname" 
                                                        class="form-control"
                                                        formControlName="firstname"
                                                        required />
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-outline">
                                                    <label class="form-label w-100" for="lastname">
                                                        Apellido
                                                        <input 
                                                        type="text" 
                                                        id="lastname" 
                                                        class="form-control"
                                                        formControlName="lastname"
                                                        required />
                                                    </label>
                                                </div>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <label for="mail">Correo Electronico</label>
                                            <input 
                                            id="mail" 
                                            type="email" 
                                            class="form-control"
                                            formControlName="email"
                                            required 
                                            autofocus>
                                            <div class="invalid-feedback">
                                                el correo es requerido
                                            </div>
                                        </div>
                                          <div class="row mb-2">
                                            <div class="col-3">
                                                <div class="form-outline">
                                                    <label class="form-label w-100" for="years_old">
                                                        Edad
                                                        <input 
                                                        type="number" 
                                                        id="years_old" 
                                                        class="form-control"
                                                        formControlName="years_old"
                                                        required/>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <div class="form-outline">
                                                    <label class="form-label w-100" for="phone">
                                                        Telefono
                                                        <input 
                                                        type="number" 
                                                        id="phone" 
                                                        class="form-control"
                                                        formControlName="phone"
                                                        required/>
                                                    </label>
                                                </div>
                                            </div>
                                          </div>
                                          
                                        <div class="form-group">
                                            <label for="pass">Ingresa tu Contraseña</label>
                                            <input 
                                            id="pass" 
                                            type="password" 
                                            class="form-control"
                                            formControlName="password"
                                            required 
                                            autofocus>
                                            <div class="invalid-feedback">
                                                el correo es requerido
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="pass">Ingresa tu Contraseña de Nuevo</label>
                                            <input 
                                            id="pass" 
                                            type="password" 
                                            class="form-control"
                                            formControlName="re_password"
                                            required 
                                            autofocus>
                                            <div class="invalid-feedback">
                                                el correo es requerido
                                            </div>
                                        </div>
                                        
                                        <div class="form-group m-0">
                                            <button type="submit" class="btn btn-primary btn-block">
                                                Registrarce
                                            </button>
                                        </div>
                                        <div class="mt-4 text-center">
                                            Ya tienes una cuenta? <a routerLink="/login">Login</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>