<div class="app">
    <div class="my-login-page">

        <section class="">
            <div class="container">
                <div class="row justify-content-md-center" style="height: 100vh;justify-content: center;align-items: center;">
                    <div class="card-wrapper">
                        <div class="card fat">
                            <div class="card-body d-flex flex-column">
                                <h4 class="card-title text-center pt-4" align="center">Inicio de sesión</h4>
                                <hr>
                                <form [formGroup]="forma" (ngSubmit)="iniciar_sesion()">
                                    <div class="form-group">
                                        <label for="email">Direccion de correo</label>
                                        <input 
                                        id="email" 
                                        type="email" 
                                        class="form-control"
                                        formControlName="correo"
                                        name="email" value="" 
                                        required 
                                        autofocus>
                                        <div class="invalid-feedback">
                                            Correo invalido
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">contraseña
                                            <!-- <a href="./recover.html" class="float-right">
                                                Olvidaste tu contraseña?
                                            </a> -->
                                        </label>
                                        <input 
                                        id="password" 
                                        type="password" 
                                        class="form-control"
                                        formControlName="password"
                                        name="password" 
                                        required 
                                        data-eye>
                                        <div class="invalid-feedback">
                                            contraseña es requerida
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-checkbox custom-control">
                                            <input 
                                            type="checkbox" 
                                            name="remember" 
                                            id="remember" 
                                            class="custom-control-input"
                                            formControlName="recuerdame">
                                            <label for="remember" class="custom-control-label">Recuerdame</label>
                                        </div>
                                    </div>
                                    <div class="form-group m-0">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Login
                                        </button>
                                    </div>
                                    <div class="mt-4 text-center">
                                        no tienes una cuenta? <a routerLink="/register">Create una</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>