<div class="poli_cook bg-light w-100 p-3 d-flex">
    <span class="col">Utilizamos cookies propias y de terceros para mejorar la experiencia del usuario a través de su navegación. Si continúas navegando aceptas su uso. Política de cookies y de seguridad <a class="text-link" > <small>Terminos y Condiciones</small> </a> | <a class="text-link" (click)="privacidad()"> <small>Politicas de Privacidad</small> </a> | <a class="text-link" (click)="cookies()"> <small>Politicas de Cookies</small> </a></span>
    <div class="boton d-flex align-items-content justify-content-center">
        <button class="btn btn-primary btn-sm" (click)="desctivar()"> De acuerdo </button>
    </div>
</div>