<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"></span></button>
        </div>
        <div class="modal-body" id="terms"><h1>POLÍTICA DE PRIVACIDAD</h1>
<p>Retail Servicios Externos SL cumple con las directrices del Reglamento (UE) 2016/679 del Parlamento Europeo y del
Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento
de datos personales y a la libre circulación de estos datos (RGPD), velando en todo momento por garantizar un
correcto uso y tratamiento de los datos personales del usuario.</p>
<br>
<h2>¿QUÉ DATOS RECOPILAMOS A TRAVÉS DE LA WEB?</h2>
<p>Puede visitar y utilizar los servicios de la web <a href="{{ link_landing }}">{{app_name}}</a> sin identificarse ni
revelar ninguna información personal sobre usted.</p>
<p>Los únicos datos personales a los que Retail Servicios Externos SL tendrá acceso serán aquellos que el usuario
facilite voluntariamente a través de los formularios habilitados al efecto, o cuando contacte con Retail Servicios
Externos SL a través de correo electrónico o de cualquier otro modo previsto en la web.</p>
<p>Podemos tratar su IP, dirección MAC, qué sistema operativo o navegador usa, e incluso la duración de su visita de
forma anónima. </p>
<ul>
<li>Datos para el registro y creación de cuenta</li>
<li>Creación de un perfil (opciones)</li>
<li>Publicación y carga de contenidos, sincronización de agenda o calendario</li>
<li>Información de otras personas (publicaciones, información pública: No publique o añada datos personales que no
quiera que se hagan públicos, etc.)</li>
<li>Clientes y socios (nuestros clientes y socios pueden proporcionarnos datos)</li>
<li>Servicios (se registran las visitas y el uso de nuestros servicios incluidas las aplicaciones móviles)</li>
<li>Datos a través de cookies y de tecnologías similares</li>
<li>Datos de tus dispositivos y redes, incluidos los datos de ubicación</li>
<li>Datos a través de comunicaciones con nuestros servicios (mensajes, solicitud de contacto, seguimientos,
recordatorios, etc.)</li>
<li>Información proporcionada por la empresa (datos empleados, contratistas, etc.)</li>
<li>Motivos de seguridad, prevención de casos de fraude e investigaciones</li>
<li>Otra información (nuestros servicios son dinámicos y con frecuencia introducimos nuevas funciones, que pueden
requerir la recopilación de nueva información. Si recabamos datos personales muy diferentes o si cambiamos en
gran medida el modo en que usamos sus datos, se lo notificaremos y también podríamos modificar esta Política de
privacidad.</li>
</ul>
<h2>¿CUÁL ES LA LEGITIMACIÓN PARA EL TRATAMIENTO DE SUS DATOS?</h2>
<p>La aceptación y consentimiento del interesado. En aquellos casos donde para realizar una solicitud sea necesario
cumplimentar un formulario y hacer un “click” en el botón de enviar, la realización del mismo implicará
necesariamente que ha sido informado y ha otorgado expresamente su consentimiento al contenido de la cláusula
anexada a dicho formulario o aceptación de la política de privacidad.</p>
<br>
<h2>¿CON QUÉ FINALIDAD VAMOS A TRATAR SUS DATOS PERSONALES?</h2>
<p>De conformidad con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo
a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre
circulación de estos datos (RGPD), le informamos que los datos de carácter personal que voluntariamente nos facilite
a través de dicho formulario o a través de los distintos formularios de entrada dispuestos al efecto en la Web <a href="{{link_landing}}">{{app_name}}</a> o en cualquier otro canal de recogida de los mismos, serán
incorporados a los registros de tratamiento responsabilidad de Retail Servicios Externos SL para la gestión de los
datos &nbsp;recogidos con las siguientes finalidades:</p>
<ul>
<li>Darse de alta, registrarse y crear una cuenta</li>
<li>Creación de perfil</li>
<li>Publicación y carga de contenidos</li>
<li>Solucionar cualquier consulta, solicitud o petición realizada a través del formulario</li>
<li>Gestionar el servicio solicitado, contestar su solicitud o tramitar su petición</li>
<li>Mantenerle informado de cualquier cambio, modificación que pueda parecernos de su interés a través de cualquier
medio facilitado</li>
<li>Información por medios electrónicos que versen sobre su solicitud</li>
<li>Enviarle información comercial de nuestros productos/servicios y de nuestros clientes y socios previa solicitud
o consentimiento</li>
<li>Ofrecerle nuestros servicios (autorizarle el acceso, mantenerle conectado, comunicaciones entre usuarios,
promoción de nuestros servicios, anuncios personalizados, generación de información agregada, promover contenido
a través de las redes sociales, etc.)</li>
<li>Realizar análisis y mejoras en la web sobre nuevos productos/servicios</li>
<li>Darse de baja de nuestros servicios</li>
</ul>
<br>
<h2>¿A QUÉ DESTINATARIOS SE COMUNICARÁN SUS DATOS?</h2>
<p>Los datos recabados son los adecuados, pertinentes y no excesivos en relación con el ámbito y finalidades descritos.
Sus datos serán tratados y almacenados cumpliendo con las medidas de seguridad descritas según normativa vigente y
garantizando en todo momento su integridad y confidencialidad.</p>
<p>Sus datos no se cederán a terceros, salvo obligación legal ni serán compartidos con empresas ni entidades ajenas a
Retail Servicios Externos SL. Se le informa de las siguientes posibles cesiones de sus datos:</p>
<ul>
<li>a estamentos públicos y privados para el cumplimiento de las obligaciones legales en virtud de la normativa
vigente
</li><li>a empresas, clientes, socios y colaboradores para gestiones administrativas y/o comerciales, para la gestión de
las finalidades anteriormente descritas, para la prestación de servicios y la correcta gestión de la empresa
</li>
<li>a los encargados del tratamiento necesarios para la ejecución del acuerdo</li>
<li>a empresas encargadas de nuestro soporte y mantenimiento web, sistema informático, etc.</li>
<li>cualquier transferencia internacional de datos al usar aplicaciones americanas, estará adherida al convenio
Privacy Shield, que garantiza que las empresas de software americano cumplen las políticas de protección de
datos europeas en materia de privacidad</li>
</ul>
<p>En cuyos casos, solo con las finalidades y los usos exclusivamente necesarios para el desarrollo de su actividad para
el que fueron requeridos sus servicios, no pudiendo usar los mismos para un fin distinto. Para cualquier cesión
distinta de lo especificado anteriormente, usted será debidamente informado, pudiendo ejercer su derecho de
oposición en cualquier momento.</p>
<p>El consentimiento se entenderá prestado en tanto no nos comunique expresamente la revocación del mismo a alguno de
los tratamientos indicados anteriormente.</p>
<p>Al facilitarnos su email y/o teléfono, usted consiente expresamente que nos podamos poner en contacto con usted a
través de estos medios.</p>
<p>El usuario de la web <a href="{{link_landing}}">{{app_name}}</a> será el único responsable de la veracidad y
exactitud de los datos aportados, actuando Retail Servicios Externos SL de buena fe como mero prestador del
servicio. En caso de haber facilitado datos falsos o de terceras personas sin mediar su consentimiento para ello,
Retail Servicios Externos SL se reserva el derecho a la destrucción inmediata de los citados datos a fin de proteger
el derecho del titular o titulares de los mismos eximiéndose Retail Servicios Externos SL de cualquier
responsabilidad por el incumplimiento de este requisito.</p>
<p>Los campos señalados con un asterisco (*) en los diferentes formularios son de obligado cumplimiento para la
formalización de la correspondiente solicitud.</p>
<p>Retail Servicios Externos SL se compromete al cumplimiento de su obligación de secreto de los datos de carácter
personal y de su deber de guardarlos y adoptará todas las medidas de índole técnica y organizativa para garantizar
la seguridad de los datos de carácter personal y evitar su alteración, pérdida, tratamiento o acceso no autorizado,
habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que estén
expuestos, todo ello de conformidad con lo establecido en la normativa.</p>
<br>
<h2>¿DATOS DE MENORES?</h2>
<p>No tratamos datos de menores de 14 años. Por tanto, absténgase de facilitarlos si no tiene esa edad o, en su caso, de
facilitar datos de terceros que no tengan la citada edad. Retail Servicios Externos SL se exime de cualquier
responsabilidad por el incumplimiento de esta previsión</p>
<br>
<h2>¿QUÉ DERECHOS TIENE?</h2>
<ul>
<li>A saber si estamos tratando sus datos o no</li>
<li>A acceder a sus datos personales</li>
<li>A solicitar la rectificación de sus datos si son inexactos</li>
<li>A solicitar la supresión de sus datos si ya no son necesarios para los fines para los que fueron recogidos o si
nos retira el consentimiento otorgado</li>
<li>A solicitar la limitación del tratamiento de sus datos, en algunos supuestos, en cuyo caso solo los
conservaremos de acuerdo con la normativa vigente</li>
<li>A portar sus datos, que le serán facilitados en un formato estructurado, de uso común o lectura mecánica. Si lo
prefiere, se los podemos enviar al nuevo responsable que nos designe. Solo es válido en determinados supuestos
</li>
<li>A presentar una reclamación ante la Agencia Española de Protección de Datos o autoridad de control competente,
si cree que no le hemos atendido correctamente</li>
<li>A revocar el consentimiento para cualquier tratamiento para el que haya consentido, en cualquier momento.</li>
</ul>
<p>Si modifica algún dato, le agradecemos que nos lo comunique para mantenerlos actualizados.</p>
<p>El usuario de la WEB <a href="{{link_landing}}">{{app_name}}</a> podrá en cualquier momento ejercer estos
derechos en los términos establecidos en la normativa vigente, dirigiéndose al responsable del tratamiento:</p>
<ul>
<li>Por escrito a la dirección de la empresa: Calle Clara del Rey 27, 1D (28002 Madrid)</li>
<li>Por correo electrónico a la dirección <a href="mailto:info@retailexternal.com">info@retailexternal.com</a></li>
<li>A través de nuestra página web, adjuntando copia del DNI</li>
</ul>
<br>
<h2>¿QUIERE UN FORMULARIO PARA EL EJERCICIO DE SUS DERECHOS?</h2>
<p>Tenemos formularios para el ejercicio de sus derechos, pídanoslos por email o si lo prefiere, puede usar los
elaborados por la Agencia Española de Protección de Datos o terceros. Estos formularios deben ir firmados
electrónicamente o ser acompañados de fotocopia del DNI. Si se representa a alguien, debe adjuntarnos copia de su
DNI, o que lo firme con su firma electrónica.</p>
<br>
<h2>¿CUÁNTO TARDAMOS EN CONTESTARLE AL EJERCICIO DE DERECHOS?</h2>
<p>Depende del derecho, pero como máximo en un mes desde su solicitud, y dos meses si el tema es muy complejo y le
notificamos que necesitamos más tiempo</p>
<br>
<h2>¿DURANTE CUÁNTO TIEMPO VAMOS A MANTENER SUS DATOS PERSONALES?</h2>
<ul>
<li>Los datos personales serán mantenidos mientras siga vinculado con nosotros</li>
<li>Una vez se desvincule, los datos personales tratados en cada finalidad se mantendrán durante los plazos
legalmente previstos, incluido el plazo en el que un Juez o Tribunal los pueda requerir atendiendo al plazo de
prescripción de acciones judiciales</li>
<li>Los datos tratados se mantendrán en tanto no expiren los plazos legales aludidos anteriormente, si hubiera
obligación legal de mantenimiento, o de no existir ese plazo legal, hasta que el interesado solicite su
supresión o revoque el consentimiento otorgado</li>
<li>Mantendremos toda la información y comunicaciones relativas a la prestación de nuestro servicio, mientras duren
las garantías de los servicios para atender posibles reclamaciones</li>
</ul>
<br>
<h2>¿SEGURIDAD, COOKIES Y DIRECCIONES IP?</h2>
<p>El sitio web utiliza técnicas de seguridad de la información generalmente aceptadas en la industria, tales como
firewalls, procedimientos de control de acceso y mecanismos criptográficos, todo ello con el objeto de evitar el
acceso no autorizado a los datos. Para lograr estos fines, el usuario acepta que el prestador obtenga datos para
efectos de la correspondiente autenticación de los controles de acceso.</p>
<br>
<h2>USO DE COOKIES Y DEL FICHERO DE ACTIVIDAD</h2>
<p>Si usamos otro tipo de cookies que no sean las necesarias, podrá consultar la política de cookies en el enlace
correspondiente desde el inicio de nuestra web.</p>
<p>El prestador por su propia cuenta o la de un tercero contratado para la prestación de servicios de medición, pueden
utilizar cookies cuando un usuario navega por el sitio web. Las cookies son ficheros enviados al navegador por medio
de un servidor web con la finalidad de registrar las actividades del usuario durante su tiempo de navegación. Las
cookies utilizadas por el sitio web se asocian únicamente con un usuario anónimo y su ordenador, y no proporcionan
por sí mismas los datos personales del usuario. Mediante el uso de las cookies resulta posible que el servidor donde
se encuentra la web, reconozca el navegador web utilizado por el usuario con la finalidad de que la navegación sea
más sencilla, permitiendo, por ejemplo, el acceso a los usuarios que se hayan registrado previamente, acceder a las
áreas, servicios, promociones o concursos reservados exclusivamente a ellos sin tener que registrarse en cada
visita. Se utilizan también para medir la audiencia y parámetros del tráfico, controlar el progreso y número de
entradas. El usuario tiene la posibilidad de configurar su navegador para ser avisado de la recepción de cookies y
para impedir su instalación en su equipo. Por favor, consulte las instrucciones y manuales de su navegador para
ampliar esta información. Para utilizar el sitio web, no resulta necesario que el usuario permita la instalación de
las cookies enviadas por el sitio web, o el tercero que actúe en su nombre, sin perjuicio de que sea necesario que
el usuario inicie una sesión como tal en cada uno de los servicios cuya prestación requiera el previo registro o
login. Las cookies utilizadas en este sitio web tienen, en todo caso, carácter temporal con la única finalidad de
hacer más eficaz su transmisión ulterior. En ningún caso se utilizarán las cookies para recoger información de
carácter personal.</p>
<br>
<h2>DIRECCIONES IP</h2>
<p>Los servidores del sitio web podrán detectar de manera automática la dirección IP y el nombre de dominio utilizados
por el usuario. Una dirección IP es un número asignado automáticamente a un ordenador cuando ésta se conecta a
Internet. Toda esta información es registrada en un fichero de actividad del servidor debidamente inscrito que
permite el posterior procesamiento de los datos con el fin de obtener mediciones únicamente estadísticas que
permitan conocer el número de impresiones de páginas, el número de visitas realizadas a los servicios web, el orden
de visitas, el punto de acceso, etc.
</p></div>
    </div>
</div>