/* You can add global styles to this file, and also import other style files */
h4, .h5, .h6, h4, h5, h6 {
    margin-bottom: .5rem !important;
    font-weight: 100 !important;
    line-height: 1.2 !important;
}