.anuncio{
    background: #1588fd;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1588fd, #2992fe);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1588fd, #2992fe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.shadow{
    box-shadow: 0 .5rem 1rem #6eb0f5 !important;
}
.imagen img{
    position: absolute;
    bottom: 0px;
}

img{
    border-radius: .5rem .5rem 0% 0%;
}
@media (min-width: 0px) and (max-width: 550px){
    .col.p-5.my-3{
        padding: 3rem 0 !important;
        margin-right: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .row{
        flex-direction: column;
    }
    .container{
        width: 75% !important;
    }
    .imagen img{
        position: relative;
        bottom: 0px;
    }
}
@media (min-width: 550px) and (max-width: 780px){
    .imagen img{
        width: 75% !important;
    }
}
@media (min-width: 780px) and (max-width: 1250px){
    .imagen img{
        width: 50% !important;
    }
}
@media (min-width: 1250px) and (max-width: 1000000000px){
    .imagen img{
        width: 50% !important;
    }
}