<div class="anuncio">
    <div class="container">
        <div class="row">
            <div class="col p-5 my-3">
                <h2 class="text-left text-light">Descarga Kudiska y Empieza a Crear!</h2>
                <p class="text-left text-light">Recuerda que ¡Con Kudiska lo que esta en tu mente se hace realidad!</p>
                <div class="d-flex w-100 mt-4">
                    <a class="mr-2" href="">
                        <img src="../../../assets/play.png" class="shadow ">
                    </a>
                    <a class="mx-2" href="">
                        <img src="../../../assets/store.png" class="shadow ">
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="imagen w-100 d-flex justify-content-center">
                    <img src="../../../assets/1.jpg" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>
</div>